<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Signup | FoodExpress</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="auth-container">
    <h1>Restaurant Signup</h1>
   <form action="/restaurant-register" method="post">
        <label>Restaurant Email:</label>
        <input type="email" name="email" required>
        
        <label>Restaurant Password:</label>
        <input type="password" name="password" required>
        
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" required>
        
        <div class="privacy-container">
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">I agree to the Terms and Privacy Policy</label>
        </div>
        
        <button type="submit">Sign Up</button>
    </form>
    
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <p>Already have an account? <a th:href="@{/restaurant-login}">Login</a></p>
</div>

</body>
</html>
